@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

$primary-font: 'Arial';
$title-font: 'Major Mono Display', monospace;

body {
  background: lightgray;
}

h1, h2 {
  margin: 0;
  font-size: 1rem;
  margin-block-start: 0;
  margin-block-end: 0;
}

.header-large {
  width: 500px;
  background: white;
  font-family: $primary-font;
  width: 100vw;
  box-sizing: border-box;

  .inner {
    width: 575px;
    margin: 0 auto;

  }

  .subheadings {
    display: flex;
    align-items: center;
  }

  .bar {
    background: black;
    height: 4px;
    width: 100%;
    margin-left: 10px;
  }

  .h1 {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
  }

  h1 {
    font-family: $title-font;
    font-size: 6rem;
    letter-spacing: -5px;
    word-spacing: -25px;;
    &:hover {
      // color: purple;
      cursor: pointer;
    }
  }

  h2 {
    font-weight: 100;
    margin-left: 10px;
    &:hover {
      color: purple;
      cursor: pointer;
    }
  }

  img {
    height: 4.75rem;
    margin: -2.5px;
    margin-right: -15px;
  }
}